# 프론트엔드 환경 변수 설정 파일
# 이 파일을 .env로 복사하고 실제 값을 입력하세요
# 파일명: .env.example (또는 .env.local)

# API Base URL
VITE_API_URL=http://localhost:5001

# 구글 로그인
VITE_GOOGLE_CLIENT_ID=980593244015-l36erduq58k937cc6aoddj4jkem9ainn.apps.googleusercontent.com

# 카카오 로그인
VITE_KAKAO_APP_KEY=258d483707a7d9d4dc6fc452d0f3eede

# 네이버 로그인
VITE_NAVER_CLIENT_ID=BBKorhec0lAUfvXl6kOZ
